annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
babel==2.18.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
csvw==3.7.0
dlinfo==2.0.0
dotenv==0.9.9
espeakng-loader==0.2.4
exceptiongroup==1.3.1
fastapi==0.135.1
flatbuffers==25.12.19
h11==0.16.0
humanfriendly==10.0
idna==3.11
isodate==0.7.2
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupytext==1.14.5
kokoro-onnx==0.5.0
language-tags==1.2.0
markdown-it-py==2.2.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
mpmath==1.3.0
numpy==2.2.6
onnxruntime==1.23.2
packaging==26.0
phonemizer-fork==3.3.2
protobuf==7.34.0
PyAudio==0.2.14
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.14.0
Pympler==1.0.1
pyparsing==3.3.2
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz-deprecation-shim==0.1.0.post0
pyzmq==25.0.2
rdflib==7.6.0
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
rfc3986==1.5.0
rpds-py==0.30.0
segments==2.4.0
six==1.17.0
smmap==5.0.0
sounddevice==0.5.5
starlette==0.52.1
sympy==1.14.0
termcolor==3.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.42.0
validators==0.20.0
